<div class="section-top-border">
	<h3 class="mb-30"><%= task.title %></h3>
		<div class="row">
			<div class="col-lg-12">
      <blockquote class="generic-blockquote">
        <p><%= task.describle %></p>
        <% if (can? :update, Task) || ( user_signed_in? && my_schedule?) %>
        <p><%= render "tasks/form_time", task: task %></p>
        <% else %>
        <p><%= task.time %></p>
        <% end %>
        <% if user_signed_in? && my_schedule?  %>
        <%= link_to t("views.tasks.delete"), task, method: :delete, data: { confirm: t("views.tasks.sure") }%>
        <% end %>
        <% if task.serviceOfVendor %>
          <%= render task.serviceOfVendor %>
        <% end %>
      </blockquote>
      <%= link_to t("views.tasks.vendors"), "", data: {id: task.id}, remote: true %>
    </div>
  </div>
</div>