<div class="bradcam_area bradcam_bg_2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3><%= @schedule.title %></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="blog_area single-post-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post">
          <div class="blog_details">
            <p class="excert">
              <%= @schedule.describle.html_safe %>
            </p>
            <%= render @tasks %>
            <% if user_signed_in? && !my_schedule? %>
              <%= link_to  t("views.tasks.chooses"), schedule_clones_path(@schedule), method: :post, class:"btn btn-success" %>
            <% end %>
            <% if (can? :update, Schedule) && user_signed_in? && my_schedule? %>
              <%= render "privacy_form", schedule: @schedule  %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div id="show-vendor">
        </div>
      </div>
    </div>
  </div>
</section>