<!DOCTYPE html>
<html>
<head>
  <title>OurWedding</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=COMMENT_PLUGIN&autoLogAppEvents=1"></script>
  <%= render "layouts/shim" %>
</head>
<body>
  <%= render "layouts/header" %>
  <%= yield %>
  <%= render "layouts/footer" %>
</body>
</html>